*{
   margin: 0%;
  padding: 0%;
  font-family: Michroma; align-items: center; justify-content: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  text-align: center;
  
}

::backdrop {
  display: flex;
  background-color: white;
}

@media (min-width : 1201px) {

  .logo {
    width: 100px;
    height: 100px;
    display:flexbox;
    justify-content:center;
  }

  .button {
  background-color:rgb(1, 181, 1);
  border-radius: 5px;
  padding-left: 5px; 
   padding-right: 5px; 
   cursor: pointer;
}


  .header {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;

  }

    .div {
    background-color: rgb(255, 255, 255); opacity:75%;
    border-radius:5%;
  
  }

  .nav {
    display:flexbox;
    justify-content: space-between;
    justify-items:space-between;
    align-items: center;
  }

  .p {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;

  }

body {
  margin: 0;
  /* allow scrolling */
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
}

/* background layers */
body::before,
body::after {
  content: "";
  position: absolute; /* not fixed! */
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* keeps image fixed while page scrolls */
  transition: opacity 30s ease-in-out;
  z-index: -1; /* push behind content */
}

body::before {
  background-image: url("background\ 2.png");
  opacity: 1;
  background-color: silver;
}

body::after {
  background-image: url("background\ img3.png");
  opacity: 0;
  animation: fadeBg 30s infinite alternate;
}

body {
  background: 
    url("geometric-grid-pattern-vector-2486119.jpg") center/cover repeat,
    rgb(236, 236, 236); /* color behind everything */
}

@keyframes fadeBg {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
}



.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}


@media (max-width : 1200px) {

  .logo {
    width: 100px;
    height: 100px;
    display:flexbox;
    justify-content:center;
  }


  .header {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

     .div {
    background-color: rgb(255, 255, 255); opacity:75%;
    border-radius:5%;
  
  }

    .button {
  background-color: rgb(1, 181, 1);
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px; 
   cursor: pointer;
}

  .nav {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .p {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;

  }

body {
  margin: 0;
  /* allow scrolling */
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
}

/* background layers */
body::before,
body::after {
  content: "";
  position: absolute; /* not fixed! */
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* keeps image fixed while page scrolls */
  transition: opacity 30s ease-in-out;
  z-index: -1; /* push behind content */
}

body::before {
  background-image: url("background\ 2.png");
  opacity: 1;
  background-color: silver;
}

body::after {
  background-image: url("background\ img3.png");
  opacity: 0;
  animation: fadeBg 30s infinite alternate;
}

body {
  background: 
    url("geometric-grid-pattern-vector-2486119.jpg") center/cover repeat,
    rgb(236, 236, 236); /* color behind everything */
}


@keyframes fadeBg {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
   background-color: rgb(255, 255, 255);
}


@media (max-width : 900px) {

  .logo {
    width: 100px;
    height: 100px;
    display:flexbox;
    justify-content:center;
  }

       .div {
    background-color: rgb(255, 255, 255); opacity:75%;
    border-radius:5%;
  
  }

  .header {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;


  }

    .button {
  background-color: rgb(1, 181, 1);
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;  
   cursor: pointer;
}

  .nav {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .p {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;

  }

body {
  margin: 0;
  /* allow scrolling */
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
}

/* background layers */
body::before,
body::after {
  content: "";
  position: absolute; /* not fixed! */
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* keeps image fixed while page scrolls */
  transition: opacity 30s ease-in-out;
  z-index: -1; /* push behind content */
}

body::before {
  background-image: url("background\ 2.png");
  opacity: 1;
  background-color: silver;
}

body::after {
  background-image: url("background\ img3.png");
  opacity: 0;
  animation: fadeBg 30s infinite alternate;
}

body {
  background: 
    url("geometric-grid-pattern-vector-2486119.jpg") center/cover repeat,
    rgb(236, 236, 236); /* color behind everything */
}


@keyframes fadeBg {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
   background-color: rgb(255, 255, 255);
}


@media (max-width : 600px) {

  .logo {
    width: 100px;
    height: 100px;
    display:flexbox;
    justify-content:center;
  }

  .header {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }

    .div {
    background-color: rgb(255, 255, 255); opacity:75%;
    border-radius:5%;
  
  }

    .button {
  background-color: rgb(1, 181, 1);
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px; 
   cursor: pointer;
}

  .slogan {
    display: inline-flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

  }

  .nav {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: space-evenly;
  }

  .p {
    display:flexbox;
    justify-content: center;
    justify-items: center;
    align-items: center;

  }

  body {
  margin: 0;
  /* allow scrolling */
  min-height: 100vh;
  background-color: rgb(236, 236, 236);
}

/* background layers */
body::before,
body::after {
  content: "";
  position: absolute; /* not fixed! */
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* keeps image fixed while page scrolls */
  transition: opacity 30s ease-in-out;
  z-index: -1; /* push behind content */
}

body::before {
  background-image: url("background\ 2.png");
  opacity: 1;
  background-color: silver;
}

body::after {
  background-image: url("background\ img3.png");
  opacity: 0;
  animation: fadeBg 30s infinite alternate;
}

body {
  background: 
    url("geometric-grid-pattern-vector-2486119.jpg") center/cover repeat,
    rgb(236, 236, 236); /* color behind everything */
}


@keyframes fadeBg {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  
}




